:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #ffffff;
    --white-bg-color: #ffffff;


}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    
    
}
ul {
    list-style: none;
    
}
a {
    text-decoration: none;
}
img {
    display: block;

}
/* цвет вторичного текста  #color: #212121;*/
 /* цвет основного текста color: #757575; */
 /* акцент  background: #2196F3;color: #FFFFFF; */

 /* Стилизация шапки */
 .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000; 

}
.nav .link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

}
.nav .link.current {
    color: var(--accent-color);

}
.nav .link:hover ,
.nav .link:focus {
    color: var(--accent-color);

}
.auth-nav .link {
    
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

}
.auth-nav .link:hover ,
.auth-nav .link:focus {
    color: var(--accent-color);

}
/* Стили основного контента */
/* Стили секции героя */
.hero > .hero-title {         
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
       
    color: var(--white-color);

}
.hero .button {
    min-width: 200px;
    

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;     
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
}


/* Стили секции со скрытым заголовком */
.section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}
.section .section-descriptions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
/* Стили секции "Чем мы занимаемся" и "Наша команда" */
.section-caption ,
.section-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: #212121;

}

.section .section-avatar {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #212121;

}
.section-vocation {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;


}
/* Cтилизация подвала */
.footer {
    background: #2F303A;
}
.footer .footer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--white-color);
}


.footer .footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
/* Стили кнопок страницы "Портфолио" */
.list-btn:hover ,
.list-btn:focus {
    color: var(--white-color);
    background: var(--accent-color);
   
}                           
.section .list-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.section-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}
.section-tagline {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
/* Позиционирование */

/* Хедер */

.page-header .container {
    background-color: var(--white-bg-color);
}
.page-header {
    border-bottom: 1px solid #ECECEC;

}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    
            
             
}
.container .logo {
    margin-right: 93px;
}
.container .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    
       
}
.auth-nav {
    display: flex;
    margin: 0;
    padding-left: 0;
               
}
.page-header .address {
    margin-left: auto;
}
.auth-nav > .link:last-child {
    margin-right: 0;
    

}

.nav > li:not(:last-child) {
    display: block;
    margin-right: 50px;
       
      
}
.auth-nav li:not(:last-child) {
    margin-right: 50px;
       
       
}
/* Сексия "Герой" */
.hero {
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
    background: #2F303A;
              
}
.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
    
}

/* Секция со скрытым заголовком */
.no-title {
    padding-top: 94px;
    padding-bottom: 94px;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;

    
}
.section.container {
    background: var(--white-bg-color);
}
.container .section-title {
    margin-top: 0;
    margin-bottom: 10px;
}
.container .section-descriptions {
    margin-top: 0;
    margin-bottom: 0;

}
.container .section-item:not(:last-child) {
    margin-right: 30px;

}
/* Секция "Чем мы занимаемся" */
.section .section-items {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
               
}

.items:not(:last-child) {
    margin-right: 30px;

}
.section-caption {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 47px;
}

.section.team-work {
    background-color: var(--white-bg-color);
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
    
 
}   

    /* Наша команда */
.section.our-team {
   background: #F5F4FA;

}
.team-work-container {
    width: 1200px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    
}
.section-team {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 94px;
}
.list-workers:not(:last-child) {
    margin-right: 30px;
}

.section-avatar ,
.section-vocation {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.section-avatar {
    padding-top: 30px;
    padding-bottom: 10px;

}
.section-vocation {
    padding-bottom: 30px;
}
.card-workers {
    background: var(--white-bg-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
/* Позиционирование подвала */
.footer {
    background-color: #2F303A;
              
}
.footer-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.footer .logo {
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
}
.footer-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 51px;
}
    
.footer-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 9px;
}
.footer-links {
    padding-bottom: 9px;
}

.footer-link {
    display: block;
}
/* Позиционирования страницы ПОРТФОЛИО */
/* Шапка */

.main-container {
    background: var(--white-bg-color);
   
}
.web-container {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    flex-wrap: wrap;
    padding-left: 0;
       
}
.section.portfolio-container {
    width: 1200px;
    background-color: var(--white-bg-color);
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.portfolio {
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    
}
.portfolio .list-navigation:not(:last-child) {
    margin-right: 8px;

}
.list-btn {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
}
.container.portfolio {
    background: var(--white-bg-color);
}

.section-list .lists-section:nth-child(n + 1) {
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.section-list .lists-section.not {
    margin-right: 0;
    
}

.section-list-card .title {
padding: 20px 24px;
}

.section-tagline ,
.section-item {
    margin: 0;
}
.section-list-card a {
    display: block;
}
.section-list-card {
    width: 370px;

    background: var(--white-bg-color);
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    

}
.lists-section.lists-cards:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
